APP_SECRET=change-this-to-a-long-random-secret
IMAGE_TAG=latest
DATABASE_URL=postgresql://symfony:change-db-password@database:5432/app?serverVersion=16&charset=utf8
MAILER_DSN=null://null
POSTGRES_DB=app
POSTGRES_USER=symfony
POSTGRES_PASSWORD=change-db-password
